<!DOCTYPE html>
<html>
  <head>

    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="lib/smoothvoxels.1.1.0.min.js"></script>

    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="icon" href="favicon.png" type="image/x-icon">

    <style>
      body {
        margin: 0;
        font-family: '3d_thirteen_pixel_fontsRg', Arial, sans-serif;
        font-size:  40px;
      }
      h1 {
        font-size:  70px;
        font-weight: normal;
      }
      aside {
        margin:  8px;
        width:  30vw;
        display:  inline-block;
        position:  fixed;
        overflow-y: scroll;
        top: 0;
        bottom: 0;

      }
      label {
        margin-top: 10px;
        display:  block;
      }
      main {
        margin-left: 30vw;
        width:  70vw;
        height: 100vh;
        padding: 0;
      }
    </style>

  </head>
  <body id="app">
    <aside>
      <h1>3D Mob</h1>
      <label for="types">Types</label>
      <select id="types" v-model="types" @change="typesChanged($event)">
        <option v-for="option in types_opts">
          {{ option }}
        </option>
      </select>
      <label for="hats">Hats</label>
      <select id="hats" v-model="hats" @change="hatsChanged($event)">
        <option v-for="option in hats_opts">
          {{ option }}
        </option>
      </select>
      <label for="chain">Chain</label>
      <select id="chain" v-model="chain" @change="chainChanged($event)">
        <option v-for="option in chain_opts">
          {{ option }}
        </option>
      </select>
      <label for="earrings">Earrings</label>
      <select id="earrings" v-model="earrings" @change="earringsChanged($event)">
        <option v-for="option in chain_opts">
          {{ option }}
        </option>
      </select>
      <label for="grill">Grill</label>
      <select id="grill" v-model="grill" @change="grillChanged($event)">
        <option v-for="option in chain_opts">
          {{ option }}
        </option>
      </select>
      <label for="clothing">Clothing</label>
      <select id="clothing" v-model="clothing" @change="clothingChanged($event)">
        <option v-for="option in clothing_opts">
          {{ option }}
        </option>
      </select>
      <label for="shades">Shades</label>
      <select id="shades" v-model="shades" @change="shadesChanged($event)">
        <option v-for="option in shades_opts">
          {{ option }}
        </option>
      </select>
      <label for="smoking">Smoking</label>
      <select id="smoking" v-model="smoking" @change="smokingChanged($event)">
        <option v-for="option in smoking_opts">
          {{ option }}
        </option>
      </select>
    </aside>

    <main>
    <a-scene id="scene" background="color: #7CE3B6" vr-mode-ui="false" embedded
             renderer="highRefreshRate:true; logarithmicDepthBuffer:false; colorManagement: false;"

             light="defaultLightsEnabled: true">
      <a-entity id="camera" camera look-controls="false"></a-entity>
      <a-entity class="light" visible="true"
                light="type: hemisphere;  color: #FFF; groundColor: #7BF8C8; intensity: 0.5"></a-entity>
      <a-entity class="light" visible="true" position="-1 1 1"
                light="type: directional; color: #FFF; intensity: 0.8;
                       castShadow:true;  shadowBias:0.001; shadowMapWidth:2048; shadowMapHeight:2048;
                       shadowCameraVisible:false; shadowCameraNear:0; shadowCameraFar:10;
                       shadowCameraBottom:-1; shadowCameraLeft:-2; shadowCameraTop:2; shadowCameraRight:2;"></a-entity>
      <a-entity class="light" visible="true" position="0 1 -1" light="type: directional; color: #FFF; intensity: 1; castShadow:false; shadowBias:0.001;"></a-entity>
      <a-entity id="container"></a-entity>


    </a-scene>

    </main>
  </body>

    <script>
      const baseMonkie = `
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- -----AAA----- ----AAAAA---- ----AAAAA---- ----AAAAA---- ----AAAAA---- ----AAAAA---- -----AAA----- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ----AAAAA---- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ----AAAAA---- -----AAA----- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ----AAAAA---- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- ---AAAAAAA--- ----AAAAA---- -----AAA----- ------------- ------------- -------------
------------- -----CCC----- ------------- ------------- ----AAAAA---- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- ---AAAAAAA--- ----AAAAA---- ------------- ------------- -------------
-----EEE----- ----CEEEC---- -----AAA----- ----AAAAA---- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- -DAAAAAAAAAD- -BAAAAAAAAAB- -BAAAAAAAAAB- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAKA-- ---AAAAAAA--- ----AAAAA---- ------------- ------------- -------------
----EAAAE---- ---CEAAAEC--- ----AAAAA---- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- ---AAAAAAA--- ----AAAAA---- ------------- ------------- -------------
----EAAAE---- ---CEAAAEC--- ----AAAAA---- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- ---AAAAAAA--- ----AAAAA---- ------------- ------------- -------------
----EAAAE---- ---CEAAAEC--- ----AAAAA---- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- ---AAAAAAA--- ----AAAAA---- ------------- ------------- -------------
-----EEE----- ----CEEEC---- -----AAA----- ---AAAAAAA--- ---AAAAAAA--- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- --AAAAAAAAA-- ---AAAAAAA--- -----AAA----- ------------- ------------- -------------
-----C-C----- ------------- ------------- ----AAAAA---- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ---AAAAAAA--- ----AAAAA---- ------A------ ------------- ------------- -------------
------------- ------------- ------------- -----BBB----- ----BBBBB---- ---BBBBBBB--- ---BBBBBBB--- ---ABBBBBA--- ---BBBBBBB--- ---BBBBBBB--- ---BBBBBBB--- ---AAAAAAA--- ---AAAAAAA--- ----AAAAA---- -----AAA----- ------------- ------------- ------------- -------------
------------- ------------- ------------- -----BBB----- ----BBBBB---- ----BMMBB---- ----BBBBB---- ----BBBBB---- ----BKBKB---- ----BKBKB---- ----BBBBB---- ----BBABB---- ----AAAAA---- -----AAA----- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------
------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- ------------- -------------`

      var ADDONS = {
        skellyFace: {
          offset: [4, 5, 14],
          dimension: [5, 2, 1],
          voxels: `
-B-B- B-B-B`,
        },
        camoJacket: {
          offset: [4, 0, 7],
          dimension: [5, 2, 5],
          voxels: `
 EFG   FGE.
E   F F   G
F   E G   F
G   F F   E
 FGE   EFG `,
        },
        shade: {
          offset: [1, 8, 7],
          dimension: [11, 3, 9],
          voxels: `
                        H         H
                        H         H
                        H         H
                        H         H
                        H         H
                         H       H.
                         H       H.
    B B                  H       H.
              III III    HIIIHIIIH.`,
        },
        retro: {
          offset: [1, 8, 7],
          dimension: [11, 3, 9],
          voxels: `
                        I         I
                        I         I
                        I         I
                        I         I
                        I         I
                        I         I
             I       I   I       I.
    B B       I     I     I     I..
               IIIII       IIIII...`,
        },
        laser: {
          offset: [1, 8, 12],
          dimension: [11, 3, 4],
          voxels: `
 H       H   H       H   H       H.
 H       H   H       H   H       H.
  H     H     I     I     H     H..
   HHHHH       IIIII       HHHHH...`,
        },
        vape: {
          offset: [7, 5, 14],
          dimension: [1, 11, 7],
          voxels: `
J . . . . . . . . . .
J . . . . . . . . . .
J . . . . . . . . . .
J . . . . . . . . . .
J . . . . . . . . . .
L . . . . . . . . . .
. . N . N N . N N N N`,
        },
        cigarette: {
          offset: [7, 5, 14],
          dimension: [1, 11, 7],
          voxels: `
J . . . . . . . . . .
J . . . . . . . . . .
L . . . . . . . . . .
L . . . . . . . . . .
L . . . . . . . . . .
L . . . . . . . . . .
. . N . N N . N N N N`,
        },
        cigar: {
          offset: [7, 5, 14],
          dimension: [1, 11, 7],
          voxels: `
J . . . . . . . . . .
J . . . . . . . . . .
J . . . . . . . . . .
J . . . . . . . . . .
J . . . . . . . . . .
L . . . . . . . . . .
. . N . N N . N N N N`,
        },
        pipe: {
          offset: [6, 5, 14],
          dimension: [3, 11, 9],
          voxels: `
 J   .   .   .   .   .   .   .   .   .   ..
 J   .   .   .   .   .   .   .   .   .   ..
 J   .   .   .   .   .   .   .   .   .   ..
 J   .   .   .   .   .   .   .   .   .   ..
 J   J   .   .   .   .   .   .   .   .   ..
 J   J   .   .   .   .   .   .   .   .   ..
 .   .   .   N   .   .   .   .   N   N   ..
 .   .   .   .   .   N   N   .  NNN NNN  N.
 .   .   .   .   .   .   .   .   N   N    .`,
        },
        fedora: {
          offset: [0, 13, 1],
          dimension: [13, 5, 16],
          voxels: `
----OOOOO---- ------------- ------------- ------------- -------------
---OOOOOOO--- ------------- ------------- ------------- -------------
--OOO   OOO-- -----PPP----- -----OOO----- -----OOO----- ------O------
-OOO     OOO- ----P   P---- ----O   O---- ----OOOOO---- ----OOOOO----
OOO       OOO ---P     P--- ---O     O--- ---OOOOOOO--- ---OO---OO---
OO         OO --P       P-- --O       O-- --OOOOOOOOO-- ---O-OOO-O---
OO         OO --P       P-- --O       O-- --OOOOOOOOO-- ---O-OOO-O---
OO         OO --P       P-- --O       O-- --OOOOOOOOO-- ---O-OOO-O---
OO         OO --P       P-- --O       O-- --OOOOOOOOO-- ---O-OOO-O---
OO         OO --P       P-- --O       O-- --OOOOOOOOO-- ---OO-O-OO---
OO         OO --P       P-- --O       O-- ---OOOOOOO--- ----OO-OO----
OOO       OOO ---P     P--- ---O     O--- ----OOOOO---- -----OOO-----
-OOO     OOO- ----P   P---- ----O   O---- -----OOO----- ------O------
--OOO   OOO-- -----PPP----- -----OOO----- ------O------ -------------
---OOOOOOO--- ------------- ------------- ------------- -------------
----OOOOO---- ------------- ------------- ------------- -------------`,
        },
        cap: {
          offset: [2, 12, 3],
          dimension: [9, 5, 16],
          voxels: `
--OQPOP-- --QOOPO-- ---PQP--- --------- ---------
-Q     Q- -O     P- --Q   O-- ---OPP--- ---------
P       O Q       P -P     Q- --PP OP-- ----O----
Q       P O       O O       P -OO   PO- ---PPO---
P       O Q       Q P       P -PQ   OP- ---QOP---
O       Q P       P Q       O -PO   OO- ---OQO---
Q       P O       O O       P -OP   QP- ---POP---
O       O P       P O       Q -PO   OQ- ---OPQ---
P       P Q       Q -P     P- --O   P-- ---QOO---
Q       O -P     P- -Q     Q- --PP OO-- ----O----
P       Q -Q     O- --O   O-- ---OPQ--- ---------
OP     PO --OPPOQ-- ---QOP--- --------- ---------
PQOQOPOQP --------- --------- --------- ---------
-OQOPOQP- --------- --------- --------- ---------
--QPQPO-- --------- --------- --------- ---------
---OPQ--- --------- --------- --------- ---------`,
        },
        capBackwards: {
          offset: [2, 12, 0],
          dimension: [9, 5, 16],
          voxels: `
   QPO                                          .
  OPOPQ                                         .
 PQOPOQO                                        .
QPOPPOPQP --QOOPO-- ---PQP--- --------- ---------
OQ     QO -O     P- --O   O-- ---OPP--- ---------
P       O Q       P -P     Q- --PP OP-- ----O----
O       P P       O O       P -OO   PO- ---PPO---
P       O O       P P       P -PQ   OP- ---QOP---
O       Q P       P Q       O -PO   OO- ---OQO---
Q       P O       O O       P -OP   QP- ---POP---
O       O P       P O       Q -PO   OQ- ---OPQ---
P       P Q       Q -P     P- --O   P-- ---QOO---
 Q     O  -P     P- -Q     Q- --PP OO-- ----O----
 P     Q  -O     O- --O   O-- ---OPQ--- ---------
  POPPO   --OPQOP-- ---QOP--- --------- ---------
          --------- --------- --------- ---------`,
        },
      };

      var BLACK = '#050505';
      var CAMO1 = '#A8AF70';
      var CAMO2 = '#054E12';
      var CAMO3 = '#40321E';
      var LASER_FRAME = '#4B4945';
      var SMOKE = '#6E6971';

      var PALETTE = {
        face: {
          normal: '#EAAE75',
          zombie: '#30B17B',
          skelly: '#B6CAD7',
        },
        fur: {
          dark: '#3B3A3A',
          lbrown: '#825039',
          brown: '#442623',
          red: '#A7392C',
          zombie: '#227A56',
          skelly: '#92A4AD',
          albino: '#FFF1D8',
        },
        clothing: {
          'None': null,
          'Blue Shirt': '#0A5EF2',
          'Red Shirt': '#C83C3C',
          'Camo Jacket': CAMO1,
          'Purple Suit': '#824099',
          'Black Suit': '#333333',
          'White Suit': '#FEFFFE',
        },
        shades: {
          purple: '#633076',
          blue: '#0D7493',
          retro: '#12D1A0',
          bluelaser: '#38C4ED',
          redlaser: '#EC2025',
          greenlaser: '#87C540',
        },
        smoking: {
          vape1: '#585752',
          vape2: '#0C66F0',
          cigarette1: '#BF5D1E',
          cigarette2: '#D1D0D0',
          pipe: '#6F422A',
          cigar1: '#764934',
          cigar2: '#C43C17',
        },
        hats: {
          orange: ['#DC5726', '#A44323'],
          black: ['#333333', '#1B1C1C'],
          blackCap: ['#333333', '#333333', '#333333'],
          redCap: ['#CA3C3A', '#CA3C3A', '#CA3C3A'],
          blueCap: ['#3F65AE', '#3F65AE', '#3F65AE'],
          camo: [CAMO1, CAMO2, CAMO3],
          solanaCap: ['#6EC6AA', '#5DC7D6', '#C476B0'],
          blackFedora: ['#333333', '#FEFEFE'],
          purpleFedora: ['#824099', '#F3B93A'],
          whiteFedora: ['#E2E2E3', '#F3B93A'],
          boater: ['#EBC175', '#FEFEFE'],
        }
      }

      var faceColor = PALETTE.face.normal;
      var furColor = PALETTE.fur.brown;

      var modelData = {
        faceColor: PALETTE.face.normal,
        furColor: PALETTE.fur.brown,
      }

      function render(parent, elTag, elAttributes, elText) {

          let element = document.createElement(elTag);

          if (elText !== null && elText !== undefined && elText !== '') {
            element.innerHTML += elText;
          }

          for (let attrName in elAttributes) {
              element.setAttribute(attrName, elAttributes[attrName]);
          };

          if (parent !== undefined)
            return parent.appendChild(element);
          else
            return element;
      }

      var BASE_DIM = [13, 19, 23,];

      var metalColor = function(value, code, noneColor) {
        return value === 'Gold' ?
`material lighting = flat, roughness = 0.2, metalness = 1, emissive = #FECB36 0.5
  colors = ${code}:#FECB36` : value === 'Silver' ?
`material lighting = flat, roughness = 0.2, metalness = 1, emissive = #BFBFBF 0.5
  colors = ${code}:#BFBFBF` : noneColor ?
`material lighting = flat
  colors = ${code}:${noneColor}`:
`material lighting = flat, opacity = 0.0
  colors = ${code}:#000`;
      }

      var refreshModel = function(modelData) {

        var chainColor = metalColor(modelData.chain, 'C');
        var earColor = metalColor(modelData.earrings, 'D');
        var grillColor = metalColor(modelData.grill, 'M', modelData.faceColor);
        var clothingColor = PALETTE.clothing[modelData.clothing] || modelData.furColor;
        var lensColor = modelData.lensColor || BLACK;
        var frameColor = modelData.frameColor || BLACK;
        var lensEmission = modelData.lensEmission || 0.5;

        var smoking1Color = modelData.smoking1Color || BLACK;
        var smoking2Color = modelData.smoking2Color || BLACK;
        var smokingEmission = modelData.smokingEmission || 0.0;

        var hatsColor = modelData.hatsColor || [];
        var hats1Color = hatsColor[0] || BLACK;
        var hats2Color = hatsColor[1] || BLACK;
        var hats3Color = hatsColor[2] || BLACK;
        var hats4Color = hatsColor[3] || BLACK;

        var voxels = baseMonkie;
        voxels = mergeVoxels(voxels, modelData.faceAddon);
        voxels = mergeVoxels(voxels, modelData.clothingAddon);
        voxels = mergeVoxels(voxels, modelData.shadesAddon);
        voxels = mergeVoxels(voxels, modelData.smokingAddon);
        voxels = mergeVoxels(voxels, modelData.hatsAddon);

        SVOX.models.MobMonkie = `
          size = 13 19 23
          scale = 0.1
          rotation = 0 0 0
          ao = 1 1
          ${chainColor}
          ${earColor}
          ${grillColor}
          material lighting = flat, roughness = 0.2, metalness = 1, emissive = ${frameColor} 0.5
            colors = H:${frameColor}
          material lighting = flat, roughness = 0.2, metalness = 0.5, emissive = ${lensColor} ${lensEmission}
            colors = I:${lensColor}
          material lighting = flat, emissive = ${smoking2Color} ${smokingEmission}
            colors = L:${smoking2Color}
          material lighting = flat,  emissive = ${SMOKE} 0.5, deform = 0.2 1, scatter = 0.1
            colors = N:${SMOKE}
          material lighting = flat
            colors = A:${modelData.furColor} B:${modelData.faceColor} K:${BLACK} E:${clothingColor} F:${CAMO2} G:${CAMO3} J:${smoking1Color}
          material lighting = flat
            colors = O:${hats1Color} P:${hats2Color} Q:${hats3Color} R:${hats4Color}
          voxels =
${voxels}
        `;

        console.log(SVOX.models.MobMonkie)

        let model = document.getElementById('model');
        if (model)
          model.parentNode.removeChild(model);

        let container = document.getElementById('container');
        model = render(container, 'a-entity', {
          id: "model",
          svox: { model: "MobMonkie" },
          position: "0 0 -2",
          animation: "property:rotation; from:0 0 0; to:0 360 0; loop: true; easing:linear; dur:5000",
        });

      }

      var TYPES = {
        Brown: {
          furColor: PALETTE.fur.brown,
        },
        "Light Brown": {
          furColor: PALETTE.fur.lbrown,
        },
        Dark: {
          furColor: PALETTE.fur.dark,
        },
        Red: {
          furColor: PALETTE.fur.red,
        },
        Zombie: {
          furColor: PALETTE.fur.zombie,
          faceColor: PALETTE.face.zombie,
        },
        Skeleton: {
          furColor: PALETTE.fur.skelly,
          faceColor: PALETTE.face.skelly,
          addon: ADDONS.skellyFace,
        },
        Albino: {
          furColor: PALETTE.fur.albino,
        },
      }

      var SHADES = {
        None: {
        },
        Black: {
          addon: ADDONS.shade,
          lensColor: BLACK,
        },
        Purple: {
          addon: ADDONS.shade,
          lensColor: PALETTE.shades.purple,
        },
        Blue: {
          addon: ADDONS.shade,
          lensColor: PALETTE.shades.blue,
        },
        Retro: {
          addon: ADDONS.retro,
          lensColor: PALETTE.shades.retro,
        },
        'Blue Laser': {
          addon: ADDONS.laser,
          lensColor: PALETTE.shades.bluelaser,
          lensEmission: 1,
          frameColor: LASER_FRAME,
        },
        'Red Laser': {
          addon: ADDONS.laser,
          lensColor: PALETTE.shades.redlaser,
          lensEmission: 1,
          frameColor: LASER_FRAME,
        },
        'Green Laser': {
          addon: ADDONS.laser,
          lensColor: PALETTE.shades.greenlaser,
          lensEmission: 1,
          frameColor: LASER_FRAME,
        },
      }

      var SMOKING = {
        None: {},
        Vape: {
          smoking1Color: PALETTE.smoking.vape1,
          smoking2Color: PALETTE.smoking.vape2,
          smokingEmission: 1,
          addon: ADDONS.vape,
        },
        Cigarette: {
          smoking1Color: PALETTE.smoking.cigarette1,
          smoking2Color: PALETTE.smoking.cigarette2,
          addon: ADDONS.cigarette,
        },
        Pipe: {
          smoking1Color: PALETTE.smoking.pipe,
          addon: ADDONS.pipe,
        },
        Cigar: {
          smoking1Color: PALETTE.smoking.cigar1,
          smoking2Color: PALETTE.smoking.cigar2,
          smokingEmission: 1,
          addon: ADDONS.cigar,
        },
      }

      var HATS = {
        None: {},
        'Orange Beanie': {
          color: PALETTE.hats.orange,
          addon: ADDONS.beanie,
        },
        'Black Beanie': {
          color: PALETTE.hats.black,
          addon: ADDONS.beanie,
        },
        'Black Cap': {
          color: PALETTE.hats.blackCap,
          addon: ADDONS.cap,
        },
        'Black Cap Backwards': {
          color: PALETTE.hats.blackCap,
          addon: ADDONS.capBackwards,
        },
        'Red Cap': {
          color: PALETTE.hats.redCap,
          addon: ADDONS.cap,
        },
        'Red Cap Backwards': {
          color: PALETTE.hats.redCap,
          addon: ADDONS.capBackwards,
        },
        'Blue Cap': {
          color: PALETTE.hats.blueCap,
          addon: ADDONS.cap,
        },
        'Blue Cap Backwards': {
          color: PALETTE.hats.blueCap,
          addon: ADDONS.capBackwards,
        },
        'Camo Cap': {
          color: PALETTE.hats.camo,
          addon: ADDONS.cap,
        },
        'Camo Cap Backwards': {
          color: PALETTE.hats.camo,
          addon: ADDONS.capBackwards,
        },
        'Solana Cap': {
          color: PALETTE.hats.solana,
          addon: ADDONS.solanaCap,
        },
        'Solana Cap Backwards': {
          color: PALETTE.hats.solana,
          addon: ADDONS.solanaCapBackwards,
        },
        'White Fedora': {
          color: PALETTE.hats.whiteFedora,
          addon: ADDONS.fedora,
        },
        'Purple Fedora': {
          color: PALETTE.hats.purpleFedora,
          addon: ADDONS.fedora,
        },
        'Black Fedora': {
          color: PALETTE.hats.blackFedora,
          addon: ADDONS.fedora,
        },
        'Boater': {
          color: PALETTE.hats.boater,
          addon: ADDONS.fedora,
        },
      }

      function parseVoxels(mask) {
        var rows = mask.voxels.replaceAll('.', ' ').split('\n');
        rows.shift(); // drop first empty line
        if (rows.length !== mask.dimension[2]) {
          throw "error, expected " + mask.dimension[2] + " rows, got " + rows.length
        }
        rows = rows.map(function(row) {
          if (mask.dimension[0] * mask.dimension[1] + (mask.dimension[1] - 1) !== row.length) {
            throw "error, expected " + mask.dimension[0] + " x " + mask.dimension[1] + " chars, got " + row.length
          }
          var lines = []
          for (var i = 0; i < row.length; i += mask.dimension[0] + 1) {
            lines.push(row.substr(i, mask.dimension[0]))
          }
          return lines
        });
        console.log(rows)
        console.log(writeVoxels(rows))
        return rows
      }

      function writeVoxels(voxels) {
        return '\n' + voxels.map((row) => row.join(' ')).join('\n')
      }

      function addition(org, mask) {
        if (org.length !== mask.length) {
          throw "oh no, lengths don't match: " + org + " and " + mask;
        }
        var replaced = []
        for (var i = 0; i < org.length; i++) {
          if (mask.charAt(i) === ' ') {
            replaced.push(org.charAt(i));
          } else {
            replaced.push(mask.charAt(i));
          }
        }
        return replaced.join('');
      }

      function mergeVoxels(base, mask) {
        if (!mask) {
          return base;
        }
        var baseVx = parseVoxels({dimension: BASE_DIM, voxels: base})
        var mod = parseVoxels(mask)
        for (var z = 0; z < mask.dimension[2]; z++) {
          for (var y = 0; y < mask.dimension[1]; y++) {

            var org = baseVx[mask.offset[2] + z][mask.offset[1] + y];
            console.log(org, mask.offset[2] + z, mask.offset[1] + y);
            var replaced = org.substr(0, mask.offset[0])
                + addition(org.substr(mask.offset[0], mask.dimension[0]), mod[z][y])
                + org.substring(mask.offset[0] + mask.dimension[0], org.length)
            console.log(replaced);
            baseVx[mask.offset[2] + z][mask.offset[1] + y] = replaced

          }
        }
        return writeVoxels(baseVx);
      }

      Vue.createApp({
        data() {
          return {
            message: 'Hello Vue!',
            types: 'Brown',
            types_opts: Object.keys(TYPES),
            chain: 'None',
            chain_opts: ['None', 'Silver', 'Gold'],
            earrings: 'None',
            clothing: 'None',
            clothing_opts: Object.keys(PALETTE.clothing),
            shades: 'None',
            shades_opts: Object.keys(SHADES),
            grill: 'None',
            smoking: 'None',
            smoking_opts: Object.keys(SMOKING),
            hats: 'None',
            hats_opts: Object.keys(HATS),
          }
        },
        methods: {
          typesChanged(event) {
            console.log(event.target.value)
            var t = TYPES[event.target.value]
            modelData.faceColor = t.faceColor || PALETTE.face.normal
            modelData.furColor = t.furColor
            modelData.faceAddon = t.addon
            refreshModel(modelData)
          },
          chainChanged(event) {
            console.log(event.target.value)
            modelData.chain = event.target.value
            refreshModel(modelData)
          },
          earringsChanged(event) {
            console.log(event.target.value)
            modelData.earrings = event.target.value
            refreshModel(modelData)
          },
          clothingChanged(event) {
            console.log(event.target.value)
            modelData.clothing = event.target.value
            modelData.clothingAddon = modelData.clothing === 'Camo Jacket' ? ADDONS.camoJacket : null;
            refreshModel(modelData)
          },
          shadesChanged(event) {
            console.log(event.target.value)
            var t = SHADES[event.target.value]
            modelData.lensColor = t.lensColor;
            modelData.lensEmission = t.lensEmission;
            modelData.frameColor = t.frameColor;
            modelData.shadesAddon = t.addon;
            refreshModel(modelData)
          },
          grillChanged(event) {
            console.log(event.target.value)
            modelData.grill = event.target.value;
            refreshModel(modelData)
          },
          smokingChanged(event) {
            console.log(event.target.value)
            var t = SMOKING[event.target.value]
            modelData.smoking1Color = t.smoking1Color;
            modelData.smoking2Color = t.smoking2Color;
            modelData.smokingEmission = t.smokingEmission;
            modelData.smokingAddon = t.addon;
            refreshModel(modelData)
          },
          hatsChanged(event) {
            console.log(event.target.value)
            var t = HATS[event.target.value]
            modelData.hatsColor = t.color;
            modelData.hatsAddon = t.addon;
            refreshModel(modelData)
          },
        }
      }).mount('#app')


      refreshModel(modelData);


    </script>

</html>
